	{section name=i loop=$grid_items}
		{if $grid_items[i].type_sh=='Продажа квартир'}
		{$a=1}
		{else if $grid_items[i].type_sh=='Аренда квартир'}
		{$a=2}
		{/if}
	{/section}
<div>
{if $a==1}
<div class="questions_specialist">ПРОДАЖА</div>
<div class="min_price">Минимальные цены по районам</div>
<br>
<div class="flat">
<span>Кировский + Красносельский</span> районы:
	<ul>
		<li><a href="">Студия: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Однокомнатная: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Двухкомнатная: <span>3 500</span> тыс руб.</a> </li>
    </ul>
</div>    
<br>
<div class="flat">
<span>Петродворцовый</span> район:
	<ul>
		<li><a href="">Студия: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Однокомнатная: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Двухкомнатная: <span>3 500</span> тыс руб.</a> </li>
    </ul>
</div>  
<br>
<div class="flat">
<span>Центральный</span> район:
	<ul>
		<li><a href="">Студия: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Однокомнатная: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Двухкомнатная: <span>3 500</span> тыс руб.</a> </li>
    </ul>
</div>     
<br>
<div class="flat">
<span>Петроградский + Василеостровский</span> районы:
	<ul>
		<li><a href="">Студия: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Однокомнатная: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Двухкомнатная: <span>3 500</span> тыс руб.</a> </li>
    </ul>
</div>
<br>
<div class="flat">
<span>Всеволожский</span> район:
	<ul>
		<li><a href="">Студия: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Однокомнатная: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Двухкомнатная: <span>3 500</span> тыс руб.</a> </li>
    </ul>
</div>
<br>
<div class="flat">
<span>Приморский</span> район:
	<ul>
		<li><a href="">Студия: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Однокомнатная: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Двухкомнатная: <span>3 500</span> тыс руб.</a> </li>
    </ul>
</div> 
<br>
<div class="flat">
<span>Выборгский</span> район:
	<ul>
		<li><a href="">Студия: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Однокомнатная: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Двухкомнатная: <span>3 500</span> тыс руб.</a> </li>
    </ul>
</div>
<br>
<div class="flat">
<span>Калининский</span> район:
	<ul>
		<li><a href="">Студия: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Однокомнатная: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Двухкомнатная: <span>3 500</span> тыс руб.</a> </li>
    </ul>
</div> 
<br>
<div class="flat">
<span>Красногвардейский</span> район:
	<ul>
		<li><a href="">Студия: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Однокомнатная: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Двухкомнатная: <span>3 500</span> тыс руб.</a> </li>
    </ul>
</div>
<br>
<div class="flat">
<span>Невский</span> район:
	<ul>
		<li><a href="">Студия: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Однокомнатная: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Двухкомнатная: <span>3 500</span> тыс руб.</a> </li>
    </ul>
</div>
<br>
<div class="flat">
<span>Колпинский</span> район:
	<ul>
		<li><a href="">Студия: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Однокомнатная: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Двухкомнатная: <span>3 500</span> тыс руб.</a> </li>
    </ul>
</div>
<br>
<div class="flat">
<span>Пушкинский</span> район:
	<ul>
		<li><a href="">Студия: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Однокомнатная: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Двухкомнатная: <span>3 500</span> тыс руб.</a> </li>
    </ul>
</div>
<br>
<div class="flat">
<span>Московский</span> район:
	<ul>
		<li><a href="">Студия: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Однокомнатная: <span>3 500</span> тыс руб.</a> </li>
    	<li><a href="">Двухкомнатная: <span>3 500</span> тыс руб.</a> </li>
    </ul>
</div>                   
{/if}
{if $a==2}
Минимальные цены аренда
{/if}
</div>