<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<table width="100%;">
			<tr>
			<td width="33%">
				<b>Наш офис:</b> <span class= "greenTitle" >м. Василеостровская </span><br>
				Санкт-Петербург, ВО 6-линия д.43 

			</td>

			<td width="34%" style="text-align: center;">
				<a href="/"><img src="/img/logo1.png" style="height:55px;"></a>
			</td>

			<td width="33%" style="text-align: right;">
				Нужна помощь?<b> <br>
				Звоните: <a href="tel:+7 (812) 327-49-79">(812) 327-49-79</a> </b> <br>
				или <a href="/client/order/contactus/"><span style="text-decoration:underline">оставьте заявку</a></span>

			</td>
			</tr>
			</table>
			<br>
			<ul class="nav">
				{section name=i loop=$right_menu}
				<li><a href="{$right_menu[i].url}">{$right_menu[i].name}</a></li>
				{/section}
			</ul>


		</div>
	</div>
</div>
